# Ignore everything...
*

# except for this file itself...
!.gitignore

# the source code...
!blinky.c

# the vector table definition...
!vector.c

# the linker script...
!linkerscript.ld

# the Makefile...
!Makefile

# the license...
!LICENSE

# and the README.
!README.md
